@import url('https://fonts.googleapis.com/css2?family=Macondo&family=Roboto&family=Roboto+Mono&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Comfortaa", Roboto, 'Segoe UI', Tahoma, sans-serif;
}

body{
    margin-top: 2vh;
    background-color: darkviolet;
    text-align: center;
}

h1{
    color: cyan;
    font-family: 'Macondo', cursive;
    font-size: 5rem;
}

form{
    text-align: center;
    display: flex;
    flex-direction: column;
}

div{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

section{
    color: cyan;
    background-color: magenta;
    border-radius: 10px;
    border: 1px solid white;
    width: 60%;
    margin: auto;
    padding: 2vh 2vw 2vh 2vw;
}

table{
    width: 400px;
    margin: 50px auto; 
    /* Le "auto" centre horizontalement mais il lui faut une largeur */
    border: 1px solid, cyan;
    border-radius: 10px;
    padding: 10px;
}

tr{
    height: 35px;
}

tr:nth-child(3) td{
    /* nth-child(3) correspond au 3e TR */
    text-align: center;
}

h2.yes{
    text-align: center;
    background-color: cyan;
    width: 40%;
    margin: 50px auto;
    padding: 50px 0;
}

h2.no{
    text-align: center;
    background-color: red;
    width: 40%;
    margin: 50px auto;
    padding: 50px 0;
}

a{  
    display: block;
    margin: 50px auto;
    padding: 20px;
    background-color: burlywood;
    border: 1px solid cyan;
    border-radius: 10px;
    width: 100px;
    text-decoration: none;
    font-weight: bold;
}

span{
    display: block;
    margin: 50px auto;
}