*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Comfortaa", Roboto, 'Segoe UI', Tahoma, sans-serif;
}

body{
    background-color: darkviolet;
    text-align: center;
    margin: auto;
}

h1{
    margin-top: 5vh;
}

input{
    font-size: 2rem;
}

input.ope{
    width : 8%;
    margin: 2vh auto;
}

.part1,
.part2{
    border-radius: 10px;
    border: 1px solid white;
    width: 30%;
    margin: 5vh auto;
    padding: 2vh 2vw 2vh 2vw;
    line-height: 2rem;
    font-size: 3rem;
}

.part1{
    color: cyan;
    background-color: magenta;
}

.part2{
    color: magenta;
    background-color: cyan;
}


.ope{
    width: 1vw;
}

.val{
    width: 10vw;
}