@import url('https://fonts.googleapis.com/css2?family=Macondo&family=Roboto&family=Roboto+Mono&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Comfortaa", Roboto, 'Segoe UI', Tahoma, sans-serif;
}

body{
    /* margin-top: 2vh; */
    text-align: center;
    background-image: url(../images/FOND2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    /* color: white; */
}

h1{
    color: cyan;
    font-family: 'Macondo', cursive;
    font-size: 5rem;
}

section{
    color: cyan;
    background-color: rgba(148, 0, 211, 0.8);
    border-radius: 10px;
    border: 1px solid white;
    width: 60%;
    margin: auto;
    padding: 2vh 2vw 2vh 2vw;
}

table{
    width: 400px;
    margin: 50px auto; 
    /* Le "auto" centre horizontalement mais il lui faut une largeur */
    border: 1px solid cyan;
    border-radius: 10px;
    padding: 10px;
}

tr{
    height: 35px;
}

td{
    text-align: center;
}

li{
    list-style: none;
    background-color: cyan;
    width: 10%;
    margin: 10px auto;
    border: 1px solid darkorchid;
    border-radius: 5px;
    padding: 5px;
}

a{
    text-decoration: none;
}

input.btn{
    text-align: center;
}

.tabverif{
    color: white;
}

.total_prix{
    text-align: right;
}
