body{
    background-color: darkgrey;
    text-align: center;
}

/* Travail sur la section */
section{
    width: 40vw;
    line-height: 5vh;
    color: white;
    text-align: center;
    background-color: teal;
    margin: auto;
    margin-top: 50px;
    border-radius: 10px;
    border: 1px solid white;
}

table{
    margin: auto;
}

tr{
    height: 9vh;
}

td{
    width: 10vw;
    border: 1px solid #aaa;
    text-align: center;
    background-color: white;
    color: teal;
    font-weight: bold;
    font-size: 2em;
    border-radius : 10px;
}

